* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* 1 rem is 10 px */
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #141414;
}

h4 {
  font-family: "Inter";
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 32px;
}

h2 {
  font-family: "IBM Plex Sans";
  margin-top: 1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #141414;
}

p {
  font-size: 2rem;
  padding-bottom: 32px;
  margin-top: 16px;
  letter-spacing: 0.009em;
  line-height: 1.5;
  color: #1f2d3d;
}

/* ************************************** */
/* HEADER  */
/* ************************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9.6rem;
  padding: 0 2.6rem;
  position: relative;
}

.logo {
  height: 4.8rem;
}

/* STICKY NAVIGATION */
.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #b33e55;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  display: inline-block;
  color: #d18b99;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: white;
  background-color: #b33e55;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #d18b99;
  transform: scale(1.03);
  transition: all 0.12s ease-in-out;
}

.logo-section {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  align-items: center;
  text-decoration: none;
}

.logo-section:visited {
  text-decoration: none;
}

.logo-text {
  margin-top: 0;
  font-size: 2.4rem;
  font-weight: 600;
  color: #b33e55;
  text-decoration: none;
}

.restricted-width {
  width: 65%;
  max-width: 1120px;
}

/* ************************************** */
/* HERO  */
/* ************************************** */

#hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    rgb(247, 247, 248, 0),
    92%,
    rgb(249, 250, 252, 1)
  );
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blue {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.red {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.yellow {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.vision-btn {
  text-decoration: none;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 4rem;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4.2rem;
  background: rgba(179, 62, 85, 0.8);
  color: white;
  border-radius: 12px;
  transition: all 0.3s;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.8rem 4.4rem;
  gap: 24px;
  text-decoration: none;

  background: rgba(232, 197, 204, 0.8);
  border: 3px solid #b33e55;
  box-shadow: 0px 2px 4px rgb(179 62 85 / 20%);
  border-radius: 100px;
}

.vision-btn:hover {
  cursor: pointer;
}

.vision-btn span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 29px;
  color: #b33e55;
  text-decoration: none;
}

.vision-btn ion-icon {
  width: 18px;
  height: 18px;
  color: #b33e55;
}

h1 {
  margin-top: 1rem;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9.2rem;
  line-height: 1.1;
  text-align: center;
  color: #141414;
}

.subtitle {
  font-family: "Inter";
  font-style: normal;
  margin-top: 13rem;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;
  text-align: center;

  color: #5f5f5f;
}

.hero-btn {
  text-decoration: none;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 4rem;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4.2rem;

  background: rgba(179, 62, 85, 0.8);
  color: white;
  border-radius: 12px;
  transition: all 0.3s;
}

.hero-btn:hover {
  cursor: pointer;
  background: #d18b99;
}

#spinner {
  margin-top: 2.4rem;
  position: relative;
  width: 100%;
}

.spinning {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9.2rem;
  line-height: 72px;
  text-align: center;
  position: absolute;
  width: 100%;
}

#spin {
  color: #b33e55;
  opacity: 1;
}

#s1 {
  color: #3e92cc;
  opacity: 0;
}

#s2 {
  color: #7f747e;
  opacity: 0;
}

/* ************************************** */
/*INTRODUCTION  */
/* ************************************** */

#introduction {
  background-color: rgb(249, 250, 252, 1);
  padding: 8rem 0;
}

.indexcontent {
  margin: 0 auto;
}

.h41 {
  color: #b33e55;
}

.high1 {
  color: #b33e55;
  background: #f7ecee;
  border-radius: 0.25rem;
  padding-inline-start: 0.25rem;
  padding-inline-end: 0.25rem;
}

.text-link {
  color: #b33e55;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 0.2rem;
  transition: all 0.3s;
}

.text-link:hover {
  color: #d18b99;
}

.indexmain {
  padding-top: 3.2rem;
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  grid-gap: 3.2rem;
}

.images {
  grid-area: 1 / 1;
  aspect-ratio: 1 / 0.8;
  width: 100%;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#above {
  transform: rotate(-3deg);
  z-index: 1;
  box-shadow: 0 1px 2px rgb(0 0 0 / 6%), 0 8px 12px rgb(0 0 0 / 30%);
  background-image: url(assets/img1.png);
  background-size: cover;
  background-color: lightgray;
}

#below {
  transform: rotate(3deg);
  box-shadow: 0 1px 2px rgb(0 0 0 / 6%), 0 8px 12px rgb(0 0 0 / 13%);
  background-image: url(assets/img2.png);
  background-size: cover;
  background-color: lightgray;
}

#above-caption {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: saturate(180%) blur(20px);
  color: #1f2d3d;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 0.8rem 1.6rem;
  border-radius: 0 0 16px 16px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#below-caption {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: saturate(180%) blur(20px);
  color: #1f2d3d;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 0.8rem 1.6rem;
  border-radius: 0 0 16px 16px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.indexul {
  grid-area: 1 / 2;
  margin: 0;
  min-width: 0;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
  grid-column-gap: 16px;
  color: #1f2d3d;
  padding-inline-start: 4rem;
}

.indexul li {
  list-style-type: disc;
  min-width: 0;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto 1fr;
  transition-duration: 0.52s;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: inherit;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  border-radius: 12px;
}

.indexul li span {
  width: 36px;
  height: 36px;
  border-radius: 24px;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  border: 3px solid currentColor;
}

.ispan1 {
  color: #b33e55;
}

.indexul li p {
  /* font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.009em;
  line-height: 1.25; */
  padding-bottom: 0;
  margin-top: 0;
}

.indexul li p strong {
  font-size: 2.4rem;
  display: block;
  margin-bottom: 1rem;
}

.ispan2 {
  color: #e67e32;
}

.ispan3 {
  color: #d9b00e;
}

/* ************************************** */
/* SLIDER  */
/* ************************************** */
#sliderr {
  padding-top: 3.2rem;
  padding-bottom: 8rem;
  background-color: rgb(249, 250, 252, 1);
}

h5 {
  display: block;
  font-size: 2.4rem;
  color: #8492a6;
  font-weight: 700;
  letter-spacing: 0.009em;
  line-height: 1.25;
  margin: 0 auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3325px);
  }
}
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgb(249, 250, 252, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
}
.slider .slide {
  padding: 5rem;
}

.slide img {
  height: 4rem;
  filter: brightness(0);
  opacity: 50%;
  transition: all 0.3s;
}

.slide img:hover {
  opacity: 100%;
  cursor: pointer;
}

/* ************************************** */
/*APP DEMO  */
/* ************************************** */
#app-demo {
  margin-bottom: 8rem;
  background: linear-gradient(
    129.77deg,
    #121223 16.97%,
    #2a2a39 64.88%,
    #193a52 94.21%
  );
  display: grid;
  grid-template-columns: 80rem 1fr;
  overflow: hidden;
}

.cont {
  height: 100vh;
  grid-area: 1 / 2;
  display: flex;
  align-items: center;
}

.cont img {
  height: 70%;
  border-radius: 24px;
}

.cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-cont {
  padding-left: 6.4rem;
  padding-right: 6rem;
}

.demo-cont h2 {
  color: rgb(249, 250, 252, 1);
  font-size: 6rem;
}

.demo-cont h4 {
  color: #3e92cc;
}

.demo-cont p {
  color: #acafb3;
  padding-bottom: 2.4rem;
}

.demo-cont a {
  background-color: #3e92cc;
  width: fit-content;
  margin-top: 0;
  font-size: 2rem;
  padding: 1rem 2.4rem;
}

.demo-cont a:hover {
  background-color: #3883b8;
  cursor: pointer;
}

/* ************************************** */
/* STAY IN TOUCH */
/* ************************************** */

#email-signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #1f2d3d;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 13%);
  overflow: hidden;
  background: rgb(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.email-text {
  padding: 3.2rem;
}

.email-text h2 {
  font-weight: 700;
  font-size: 4.8rem;
}

.email-text p {
  max-width: 40ch;
  color: #8492a6;
  margin-top: 0.8rem;
  padding-bottom: 0;
  font-size: 1.6rem;
}

.email-cont form {
  text-align: left;
  display: grid;
  align-items: end;
  margin-top: 16px;
  grid-template-columns: 1fr 1fr auto;
  grid-gap: 16px;
  padding: 3.2rem;
}

.inp {
  background-color: #e0e6ed;
  display: block;
  width: 100%;
  padding: 8px;
  appearance: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border: 1px solid;
  border-radius: 4px;
  color: inherit;
  color: #1f2d3d;
  font-family: inherit;
  border-radius: base;
  border: 0;
}

.label {
  margin-bottom: 0.8rem;
  font-weight: 500;
  width: 100%;
  display: flex;
  color: #1f2d3d;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.375;
  font-size: 2rem;
}

.email-cont form button {
  box-sizing: border-box;
  appearance: none;
  text-align: center;
  line-height: 2.4rem;
  text-decoration: none;
  font-size: 1.6rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  background-color: #b33e55;
  cursor: pointer;
  border: none;
  font-weight: 700;
  border-radius: 99999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgb(0 0 0 / 13%);
  letter-spacing: 0.009em;
  transition: transform 0.125s ease-in-out, box-shadow 0.125s ease-in-out;
  text-transform: uppercase;
  margin-top: 0.8rem;
}

/* ************************************** */
/* BLOG */
/* ************************************** */

#blog {
  padding-left: 5rem;
  margin: 12rem 0;
  margin-top: 16rem;
}

.blog-cont {
  display: grid;
  grid-template-columns: 60rem auto;
  padding-left: 6rem;
  grid-gap: 2rem;
}

.blog-text {
  padding-right: 8rem;
  min-width: 0;
}

.blog-text h2 {
  font-size: 5rem;
  margin-top: 2rem;
  line-height: 1.5;
}

.blog-text h4 {
  color: #6868f7;
}

.blog-text p {
  margin-top: 1.6rem;
  color: #5f5f5f;
}

.blog-text a {
  width: fit-content;
  background-color: #9595f9;
  margin-top: 1.6rem;
  font-size: 2.4rem;
  padding: 1rem 2.4rem;
}

.blog-text a:hover {
  background-color: #a4a4fa;
}

.blogs {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  padding-right: 2rem;
}

.blog {
  padding: 1.6rem;
  box-sizing: border-box;
  border-radius: 2.5px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 5%);
  border: solid;
  border-color: #eaecef;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
}

.blog:hover {
  border-width: 2px;
  border-color: #a4a4fa;
  background: #f0f0fe;
  box-shadow: 0px 2px 4px rgb(104 104 247 / 20%);
}
.high2 {
  color: #9595f9;
  background: #f0f0fe;
  border-radius: 2.5px;
  padding-inline-start: 0.25rem;
  padding-inline-end: 0.25rem;
}

.blog h2 {
  font-size: 2.4rem;
  margin-top: 1.6rem;
}

.blog img {
  width: 80%;
  border-radius: 2.5px;
}

.tag {
  padding: 4px 8px;
  transition: background 300ms ease 0s;
  border-radius: 1000px;
  font-size: 1.3rem !important;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(41, 41, 41, 1) !important;
  width: fit-content;
}

.tag:hover {
  cursor: pointer;
  background-color: rgba(242, 242, 242, 0.8);
}

.blog span {
  color: rgba(117, 117, 117, 1);
  font-size: 1.4rem;
}

.blog-footer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.8rem;
}

.tempp {
  width: 85% !important;
}

/* ************************************** */
/* EVENTS */
/* ************************************** */

#events {
  margin: 12rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#events h2 {
  font-size: 5rem;
}

.events-text {
  text-align: center;
  line-height: 1.75 !important;
}

.events {
  height: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  background-color: #e0e6ed;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 6%), 0 8px 12px rgb(0 0 0 / 13%);
  overflow: hidden;
}

.event-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.date-box {
  padding: 1.6rem;
  color: #1f2d3d;
  font-size: 1.6rem;
  font-weight: 600;
}

.info-box {
  background-color: white;
  flex-grow: 1;
  padding: 0.8rem 1.6rem;
}

.imp {
  color: white;
  background-color: #b33e55;
}

.info-box h2 {
  font-size: 2.4rem !important;
}

.info-box p {
  font-size: 1.6rem !important;
  margin-top: 0.8rem !important;
  color: #8492a6 !important;
}

/* ************************************** */
/* FOOTER */
/* ************************************** */

.footer {
  margin-top: 12rem;
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-bottom: 3.2rem;
  margin-left: 0;
  justify-content: flex-start;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  padding-bottom: 0;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1.6rem;
  padding-bottom: 0;
  font-size: 1.6rem;
  margin-top: 0;
}

.contacts p {
  margin-top: 0 !important;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  margin-top: 0;
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.smalls {
  margin-top: 3.6rem;
  font-size: 1.2rem;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  gap: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
