@media (max-width: 100em) {
  .info-box h2 {
    font-size: 2rem !important;
  }

  .info-box p {
    font-size: 1.2rem !important;
    margin-top: 0.6rem !important;
  }
}

@media (max-width: 90em) {
  .restricted-width {
    width: 85%;
  }
}

@media (max-width: 75em) {
  .demo-cont h2 {
    font-size: 3.6rem;
  }

  .demo-cont p {
    color: #acafb3;
    padding-bottom: 1.6rem;
  }

  #app-demo {
    grid-template-columns: 50rem 1fr;
  }

  .blog-text h2 {
    font-size: 3.6rem;
  }
  .blog-text p {
    margin-top: 1.2rem;
    font-size: 1.6rem;
    padding-bottom: 1.6rem;
  }
  .blog-cont {
    display: grid;
    grid-template-columns: 40rem auto;
    padding-left: 4rem;
    grid-gap: 2rem;
  }
}

@media (max-width: 69em) {
  .restricted-width {
    width: 95%;
  }
  #blog {
    margin-bottom: 6rem;
  }
}

@media (max-width: 60em) {
  #blog {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-cont {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto !important;
    padding-left: 0;
    grid-gap: 2rem;
    width: fit-content;
  }
  .blog-text h2 {
    text-align: center;
    font-size: 5rem;
  }

  .blog-text h4 {
    text-align: center;
  }

  .blog-text p {
    text-align: center;
  }
  .blog-text a {
    margin: 0 auto;
    font-size: 1.6rem;
    padding: 0.6rem 1.6rem;
  }
  .blog-text {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .blogs {
    padding-left: 2rem;
  }
  h1,
  .spinning {
    font-size: 8rem;
  }
  #spinner {
    margin-top: 2.4rem;
  }
  .info-box h2 {
    font-size: 1.6rem !important;
  }
}

@media (max-width: 50em) {
  #spinner {
    margin-top: 1rem;
  }
  h1,
  .spinning {
    font-size: 6rem;
  }
  h1 {
    margin-top: 3.6rem;
  }
  .vision-btn {
    padding: 1rem 3.6rem;
    gap: 16px;
    border-radius: 100px;
  }
  .vision-btn span {
    font-size: 1.6rem;
  }
  .subtitle {
    margin-top: 10rem;
    font-size: 2rem;
    padding-bottom: 2.4rem;
  }
  .hero-btn {
    margin-top: 1.6rem;
    padding: 1rem 3rem;
    font-size: 2.4rem;
  }
  .main-nav-link {
    display: none !important;
  }
  .nav-cta {
    display: inline-block !important;
  }
  .indexmain {
    padding-top: 3.2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 5.4rem;
  }
  .indexul {
    grid-area: 2 / 1;
  }
  .images {
    width: 80%;
    margin: 0 auto;
  }
  #app-demo {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .cc {
    padding: 3.6rem 0;
    grid-area: 1 / 1;
  }

  .cont {
    grid-area: 2 / 1;
    width: 95%;
    margin: 0 auto;
    height: fit-content;
    padding-bottom: 3.6rem;
  }
  .cont img {
    width: 100%;
    height: auto;
    border-radius: 2.4rem;
  }
  .email-cont {
    flex-direction: column;
  }
  .email-text {
    text-align: center;
    padding-bottom: 0;
  }
  .info-box h2 {
    font-size: 1.2rem !important;
  }
  .info-box p {
    font-size: 01rem !important;
  }
}

@media (max-width: 41em) {
  h1,
  .spinning {
    font-size: 4.8rem;
  }
  .logo-text {
    font-size: 2rem;
  }
  .logo {
    height: 3.6rem;
  }
  .main-nav-list {
    width: fit-content;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .blog-card-left h2 {
    font-size: 1.6rem;
    line-height: 1.25;
    transition: all 0.3s;
  }
  .blog-card-left p {
    margin-top: 1rem;
    line-height: 16px;
    font-size: 1rem;
    color: rgba(41, 41, 41, 1);
    visibility: visible;
    word-wrap: break-word;
  }
}

@media (max-width: 32em) {
  h1,
  .spinning {
    font-size: 3.6rem;
  }
  .logo-text {
    font-size: 1.6rem;
  }
  .logo {
    height: 2.4rem;
  }
  .spinning {
    margin-top: -2rem;
  }
  .subtitle {
    font-size: 1.6rem;
    margin-top: 5rem;
  }
  .hero-btn {
    margin-top: 0rem;
    padding: 0.8rem 2rem;
    font-size: 1.6rem;
  }
  .vision-btn {
    padding: 0.8rem 2.4rem;
    gap: 8px;
    border-radius: 100px;
    border-width: 2px;
    margin-bottom: 0rem;
  }
  .vision-btn span {
    font-size: 1.2rem;
  }
  h1 {
    margin-top: 1.8rem;
  }
  .nav-cta {
    padding: 0.8rem 1.6rem !important;
    font-size: 1.2rem !important;
  }
  #events h2 {
    font-size: 3.6rem;
  }
  .events-text {
    font-size: 1.6rem;
    padding: 0 1.6rem;
    padding-bottom: 2.4rem;
  }
  .blog h2 {
    font-size: 1.6rem;
    margin-top: 1.6rem;
  }
  .email-text h2 {
    font-size: 3.6rem;
  }
}

@media (max-width: 25em) {
  .info-box p {
    font-size: 0.8rem !important;
  }
  .info-box h2 {
    font-size: 1rem !important;
  }
  .blog-text h2 {
    text-align: center;
    font-size: 3.6rem;
  }
  .blog h2 {
    font-size: 1.2rem;
    margin-top: 1.6rem;
  }
}
